.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

.trybewarts-login {
  display: flex;
  height: 25px;
  padding: 10px;
}

.trybewarts-header-logo {
  width: 5%;
  padding: 10px;
}

#img-trybewarts {
  display: flex;
  justify-content: flex-end;
}

#trybewarts-forms-logo {
  height: 500px;
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.requisito-9 {
  width: 15%;
}

#nomes {
  flex-direction: row;
}
